*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #F0F2F9;
    transition: all 0.5s ease-in-out;
}
#header{
    position: sticky;
    top: 0;
    background-color: #4070F4;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
    padding: 20px;
}
.menu-btn{
    z-index: 2;
}
.menu-btn i{
    font-size: 25px;
    cursor: pointer;
}
.logo{
    font-size: 30px;
    font-family: 'Lobster', cursive;
}
/* .action-call button{
    padding: 10px 20px;
    background: none;
    border: 2px solid black;
    font-size: 18px;
    text-transform: capitalize;
    border-radius: 20px;
} */
.navigation ul .action-call, .action-call{
    display: flex;
    align-items: center;
}
.navigation ul .action-call, .switch{
    position: relative;
    width: 50px;
    display: inline-block;
    height: 30px;
    margin: 0 10px;
}
.navigation ul .action-call, .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #F0F2F9;
    border-radius: 34px;
    transition: .4s;
}
.switch input{display: none;}
.slider::before{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5px;
    bottom: 5px;
    background-color: #4070F4;
    transition: 0.4s;
    border-radius: 50px;
}
/* input:checked + .slider{
    background-color: white;
} */
input:checked + .slider::before{
    transform: translateX(20px);
}
.navigation{
    position: absolute;
    top: 0;
    background-color: #4070F4;
    width: 250px;
    height: 100vh;
    left: -250px;
    transition: all .5s ease-in-out;
}
.navigation ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;
}
.navigation ul li{
    list-style: none;
    padding: 8px 0px;
    font-size: 18px;
}
.navigation a{
    text-decoration: none;
    color: white;
}
.social-media-links{
    position: fixed;
    top: 400px;
    transform: rotate(90deg);
    left: -80px;
}
.social-media-links i{color: #4070F4;}
.container{
    margin: 0px 40px;
}
#landing-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 20px;
    border-radius: 20px;
    padding: 0px 20px;
}
.content{
    margin-right:  40px;
}
.content h3{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    margin-bottom: 15px;
}
.content p{
    font-size: 30px;
    max-width: 600px;
}
.content button{
    cursor: pointer;
    background: #4070F4;
    color: #fff;
    margin-top: 15px;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    text-transform: capitalize;
}
.landing-img{
    max-width: 100%;
}
.landing-img img{
    width: 100%;
    height: 100%;
}
#projects{
    margin: 30px 0px;
}
#projects h1{
    font-family: 'Lobster', cursive;
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
    color: #4070F4;
}
.project-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards{
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
    border: 2px solid #4070F4;
}
.card-img{
    max-width: 100%;
}
.card-img img{
    width: 100%;
    height: 100%;
}
.sec{
    margin: 0px 20px;
}
.card-content{
    padding:  20px;
}
.card-content h4{
    font-family: 'Lobster', cursive;
    font-size: 25px;
    text-align: center;
    color: #4070F4;
}
.card-content  p{
    margin: 10px 0px;
}
.card-content button{
    padding: 10px 15px;
    background: none;
    border: 2px solid #4070F4;
    color: #4070F4;
    border-radius: 10px;
    cursor: pointer;
}

.card-content button a{
    text-decoration: none;
}
.card-content button a:hover{
    color: white;
    background-color: #4070F4;
}
.show-more{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.show-more button{
    padding: 20px 25px;
    background: none;
    border: 2px solid #4070F4;
    color: #4070F4;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
}
.show-more button:hover{
    color: white;
    background-color: #4070F4;
}
.contact-me{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.contact-img{
    max-width: 600px;
}
.contact-img img{
    width: 100%;
    height: 100%;
}
.contact-form{
    width: 100vh;
}
.contact-form form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form h3{
    color: #4070F4;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}
.contact-form input{
    width: 80%;
    padding: 12px;
    margin: 10px 0px;
    border: 2px solid #4070F4;
}
.contact-form input[type="submit"]{
    background: none;
    cursor: pointer;
    font-size: 18px;
}
.contact-form input[type="submit"]:hover{
    color: white;
    background-color: #4070F4;
}
.msgelem{
    width: 100%;
    display: flex;
    justify-content: center;
}
.danger{
    border: 2px solid tomato;
}
.error{
    width: 80%;
    text-align: center;
    font-weight: 700;
    background-color: tomato;
    color: white;
    text-transform: capitalize;
    font-size: 16px;
    padding: 10px;
}
.success{
    width: 80%;
    text-align: center;
    font-weight: 700;
    background-color: #4070F4;
    color: white;
    text-transform: capitalize;
    font-size: 16px;
    padding: 10px; 
}
#hire-me{
    background-color: white;
    border-radius: 20px;
    margin: 12px 0px;
}
.hire-me{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    height: 280px;
}
.hire-me h3{
    font-size: 30px;
    font-family: 'Lobster', cursive;
    color: #4070F4;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.hire-me button{
    padding: 20px 25px;
    background: none;
    border: 2px solid #4070F4;
    color: #4070F4;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
}
.hire-me button a{
    text-decoration: none;
    color: black;
}
.hire-me button:hover{
    color: white;
    background-color: #4070F4;
}
#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonial-container {
    display: flex;
}