@media(max-width: 375px){
    header{
        padding: 10px;
        justify-content: space-around;
    }
    .action-call{
        display: none;
    }
    .navigation{
        width: 200px;
    }
    .navigation ul {
        height: 60vh;
    }
    #landing-content{
        flex-direction: column;
    }
}